<%- include("../header"); %>
<div class="col-12">
    <h1>Agregar proveedor</h1>
    <form method="post" action="/proveedor/insertar">
        <div class="form-group">
            <label for="rif">Rif</label>
            <input required id="rif" placeholder="rif del proveedor" class="form-control" type="text" name="rif">
        </div>
        <div class="form-group">
            <label for="Empresa">Empresa</label>
            <input required id="empresa" placeholder="Nombre de la Empresa" class="form-control" type="text" name="empresa">
        </div>
        <div class="form-group">
            <label for="direccion">Direcci&oacute;n</label>
            <input required id="direccion" placeholder="Direccion de la Empresa" class="form-control" type="text"
                name="direccion">
        </div>
        <div class="form-group">
            <button class="btn btn-success">Guardar</button>
            &nbsp;<a href="/proveedor" class="btn btn-primary">Volver</a>
        </div>
    </form>
</div>
<%- include("../footer"); %>